* {
    box-sizing: border-box;
    font-family: 'Poppins';
}
html {
    width: 100vw;
    height: 100vh;
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #202020;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}


#wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.panel {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 1rem;
    background-color: #171717;
}
.container {
    color: #eee;
    height: 100%;
    width: 100%;
    max-width: 100%;
}

.drop-zone {
    cursor: pointer;
    font-size: 3rem;
    border: 10px dashed #1c8b1c;
    border-radius: 3rem;
}

#image-panel {
    max-width: calc(50% - 5px);
    min-width: calc(50% - 5px);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
#image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
#image-container img {
    pointer-events: none;
    max-width: 100%;
    border-radius: 1rem;
    border: 3px solid #333;
}

#files-panel {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
#files-container {
    display: flex;
    flex-direction: column;
}
