* {
    box-sizing: border-box;
}
html {
    width: 100vw;
    height: 100vh;
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #202020;
}


#wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
#wrapper > * {
    height: 100%;
    flex-grow: 1;
    padding: 1rem;
    background-color: #151515;
}
#wrapper > * > * {
    height: 100%;
    width: 100%;
    max-width: 100%;
}

.drop-zone {
    color: #eee;
    font-size: 2rem;
    border: 3px dashed #196e19;
}

#image-zone {
    max-width: calc(50% - 5px);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
#image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
#image-container img {
    max-width: 100%;
    border-radius: 1rem;
    border: 3px solid #333;
}

#files-zone {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
#files-container {
    display: flex;
    flex-direction: column;
}